/******************************************************************
Site Name: Het Erfgoedkabinet
Author: Willem Prins | SOMTIJDS

Stylesheet: Main Stylesheet

/*********************
IMPORTING PARTIALS
*********************/

// normalize: http://necolas.github.io/normalize.css/
@import "partials/normalize";

// Sass variables
@import "partials/variables";

// typography
@import "partials/typography";

// Sass functions
@import "partials/functions";

// import mixins
@import "partials/mixins";

// materialize-mixins
@import "components/prefixer";
@import "components/mixins";

// the grid
@import "partials/grid";

// morphing buttons
@import "partials/mbcomponent";

/*********************
IMPORTING MODULES
*********************/

// alert boxes
//@import "modules/alerts";

// buttons
//@import "modules/buttons";

// forms (inputs & labels)
//@import "modules/forms";

// materialize-modules
//@import "components/color";
@import "components/global";
@import "components/icons-material-design";
//@import "components/navbar";
//@import "components/roboto";
//@import "components/typography";
@import "components/cards";
//@import "components/toast";
//@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
//@import "components/dropdown";
@import "components/waves";
//@import "components/modal";
@import "components/collapsible";
@import "components/materialbox";
//@import "components/form";
@import "components/table_of_contents";
//@import "components/preloader";
@import "components/slider";

// fading intro for the about page
@import "components/about-intro";


/*********************
BASE (MOBILE) SIZE
*********************/

// styles in base.scss
@import "breakpoints/base";

/*********************
LARGER MOBILE DEVICES
*********************/
@media only screen and (min-width: 481px) {

	// styles in 481up.scss
	@import "breakpoints/481up";

} // end of media query

/*********************
TABLET & SMALLER LAPTOPS
*********************/
@media only screen and (min-width: 768px) {

	// styles in 768up.scss
	@import "breakpoints/768up";

} // end of media query

/*********************
DESKTOP
*********************/
@media only screen and (min-width: 1030px) {

	// styles in 1030up.scss
	@import "breakpoints/1030up";

} // end of media query

/*********************
LARGE VIEWING SIZE
*********************/
@media only screen and (min-width: 1240px) {

	// styles in 1240up.scss
	@import "breakpoints/1240up";

} // end of media query

/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

	// styles in 2x.scss
	@import "breakpoints/2x";

} // end of media query

/*********************
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*********************/
@media print {

	// styles in print.scss
	@import "partials/print";

}

