/******************************************************************
Site Name: Het Erfgoedkabinet
Author: Willem Prins | SOMTIJDS

Stylesheet: Mixins Stylesheet

Helpful:
http://sachagreif.com/useful-sass-mixins/

******************************************************************/


/*********************
TRANSITION
*********************/

/*
USAGE: @include transition(all 0.2s ease-in-out);
*/

@mixin transition($transition...) {
  // defining prefixes so we can use them in mixins below
  $prefixes:      ("-webkit-", "" );
  @each $prefix in $prefixes {
    #{$prefix}transition: $transition;
  }
}

/*********************
CSS3 GRADIENTS
*********************/

/* @include css-gradient(#dfdfdf,#f8f8f8); */
@mixin css-gradient($from: $hek-lichtblauw, $to: $hek-donkerblauw) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom, $from, $to);
}


/*********************
BOX SIZING
*********************/

/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
@mixin box-sizing($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	-ms-box-sizing:     $type;
	box-sizing:         $type;
}

/*********************
HIDING TEXT
*********************/

@mixin hide-text{
    overflow:hidden;
    text-indent:-9000px;
    display:block;
}

/*********************
HORIZONTAL LIST NAVIGATION
*********************/
@mixin navigation-list {
    list-style-type:none;
    padding:0;
    margin:0;
    overflow:hidden;
    > li{
        display:block;
        float:left;
        &:last-child{
            margin-right:0px;
        }
    }
}

/*********************
BORDER RADIUS
*********************/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-bottom-radius($radius) {
 -webkit-border-bottom-left-radius: $radius;
     -moz-border-bottom-left-radius: $radius;
      -ms-border-bottom-left-radius: $radius;
          border-bottom-left-radius: $radius;
    -webkit-border-bottom-right-radius: $radius;
     -moz-border-bottom-right-radius: $radius;
      -ms-border-bottom-right-radius: $radius;
          border-bottom-right-radius: $radius;       
}

@mixin border-top-radius($radius) {
  -webkit-border-top-left-radius: $radius;
     -moz-border-top-left-radius: $radius;
      -ms-border-top-left-radius: $radius;
          border-top-left-radius: $radius;
    -webkit-border-top-right-radius: $radius;
     -moz-border-top-right-radius: $radius;
      -ms-border-top-right-radius: $radius;
          border-top-right-radius: $radius;
}

@mixin horizontal-split-colors($kleur1, $kleur2) {
    background-color: $kleur1;
    background-image: -webkit-linear-gradient(left, $kleur1, $kleur1 50%, $kleur2 50%, $kleur2);
    background-image: -webkit-linear-gradient(left, $kleur1, $kleur1 50%, $kleur2 50%, $kleur2);
    background-image: -moz-linear-gradient(left, $kleur1, $kleur1 50%, $kleur2 50%, $kleur2);
    background-image: -o-linear-gradient(left, $kleur1, $kleur1 50%, $kleur2 50%, $kleur2);
    background-image: linear-gradient(to right, $kleur1, $kleur1 50%, $kleur2 50%, $kleur2);
}