/******************************************************************
Site Name: Het Erfgoedkabinet
Author: Willem Prins | SOMTIJDS

Stylesheet: Typography

******************************************************************/

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('../font/icomoon/icomoon.eot?-ee0u0f');
	src:url('../font/icomoon/icomoon.eot?#iefix-ee0u0f') format('embedded-opentype'),
		url('../font/icomoon/icomoon.woff?-ee0u0f') format('woff'),
		url('../font/icomoon/icomoon.ttf?-ee0u0f') format('truetype'),
		url('../font/icomoon/icomoon.svg?-ee0u0f#icomoon') format('svg');
};

// font stacks
$sans-serif:        Futura, 'Trebuchet MS', Arial, sans-serif;
$futura-header:     "futura-pt-condensed-n5","futura-pt-condensed","Open Sans Condensed", $sans-serif, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

.tk-futura-pt-condensed, h2.tk-futura-pt-condensed, h2.tk-futura-pt-condensed-n5 { 
font-family: $futura-header;
font-style: normal;
font-weight: 500;
}

a {
  text-decoration: none;
}


html{
    line-height: 1.5;  
  
    @media only screen and (min-width: 0) {
        font-size: 14px;
    }
    
    @media only screen and (min-width: 768px) {
        font-size: 14.5px;
    }
    
    @media only screen and (min-width: 1030px) {
        font-size: 15px;
    }
 
}


.flow-text{
  $range : 768 - 1030;
  $intervals: 20;
  $interval-size: $range / $intervals;
  $i: 0;
  font-weight: 300;
  
  	@while $i <= $intervals {
      		@media only screen and (min-width : 360 + ($i * $interval-size)) {
      		font-size: 1.2rem * (1 + (.02 * $i));
  		}
        @media only screen and (min-width : 0 + ($i * $interval-size)) {
          line-height: .8rem * (1 + (.13 * $i));
        }
  		$i: $i + 1;
  	}
}

