/******************************************************************
Site Name: Het Erfgoedkabinet
Author: Willem Prins | SOMTIJDS
******************************************************************/


$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;
$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$meta-gray:         #9fa6b4;

$tan:               #eceee5;

$green:             #7dd667;

$bones-pink:        #f01d4f;
$blue:              #2980b9;

$link-color:        #aba34a;
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;

$hek-background-color: #fff;
$hek-zwart: #231f20; // 35,31,32
$hek-donkergroen: #4b502a; // 75,80,42
$hek-donkerbruin: #412f22; // 65,47,34
$hek-donkerblauw: #2d414e; // 45,65,78
$hek-olijfgroen: #97954d; // 151,149,77
$hek-aubergine: #440f1d; // 68,15,29
$hek-lichtblauw: #a4bccc; // 164,188,204
$hek-oudroze: #A56B6D; // 165,107,109   
$hek-beige: #876028;


$black:             $hek-zwart;
$white:             #fff;
$text-color:        $hek-zwart;


$hek-3of7:  39.8571429%; // original -3%
$hek-2of5-t:  25.5%; // original -3%
$hek-3of7-d:  24%; // original -3%
$hek-3of7-l:  20%; // original -3%


$hek-4of7: 54.1428572%; // original -3%

$z-base: 2;
$z-menu: 3;
$z-overlay: 4;
$z-mobmenu: 5;
