/******************************************************************
Site Name: Het Erfgoedkabinet
Author: Willem Prins | SOMTIJDS

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name: Het Erfgoedkabinet
Author: Willem Prins | SOMTIJDS
******************************************************************/
/******************************************************************
Site Name: Het Erfgoedkabinet
Author: Willem Prins | SOMTIJDS

Stylesheet: Typography

******************************************************************/
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'icomoon';
  src: url("../font/icomoon/icomoon.eot?-ee0u0f");
  src: url("../font/icomoon/icomoon.eot?#iefix-ee0u0f") format("embedded-opentype"), url("../font/icomoon/icomoon.woff?-ee0u0f") format("woff"), url("../font/icomoon/icomoon.ttf?-ee0u0f") format("truetype"), url("../font/icomoon/icomoon.svg?-ee0u0f#icomoon") format("svg"); }

.tk-futura-pt-condensed, h2.tk-futura-pt-condensed, h2.tk-futura-pt-condensed-n5 {
  font-family: "futura-pt-condensed-n5", "futura-pt-condensed", "Open Sans Condensed", Futura, "Trebuchet MS", Arial, sans-serif, sans-serif;
  font-style: normal;
  font-weight: 500; }

a {
  text-decoration: none; }

html {
  line-height: 1.5; }
  @media only screen and (min-width: 0) {
    html {
      font-size: 14px; } }
  @media only screen and (min-width: 768px) {
    html {
      font-size: 14.5px; } }
  @media only screen and (min-width: 1030px) {
    html {
      font-size: 15px; } }

.flow-text {
  font-weight: 300; }
  @media only screen and (min-width: 360) {
    .flow-text {
      font-size: 1.2rem; } }
  @media only screen and (min-width: 0) {
    .flow-text {
      line-height: 0.8rem; } }
  @media only screen and (min-width: 346.9) {
    .flow-text {
      font-size: 1.224rem; } }
  @media only screen and (min-width: -13.1) {
    .flow-text {
      line-height: 0.904rem; } }
  @media only screen and (min-width: 333.8) {
    .flow-text {
      font-size: 1.248rem; } }
  @media only screen and (min-width: -26.2) {
    .flow-text {
      line-height: 1.008rem; } }
  @media only screen and (min-width: 320.7) {
    .flow-text {
      font-size: 1.272rem; } }
  @media only screen and (min-width: -39.3) {
    .flow-text {
      line-height: 1.112rem; } }
  @media only screen and (min-width: 307.6) {
    .flow-text {
      font-size: 1.296rem; } }
  @media only screen and (min-width: -52.4) {
    .flow-text {
      line-height: 1.216rem; } }
  @media only screen and (min-width: 294.5) {
    .flow-text {
      font-size: 1.32rem; } }
  @media only screen and (min-width: -65.5) {
    .flow-text {
      line-height: 1.32rem; } }
  @media only screen and (min-width: 281.4) {
    .flow-text {
      font-size: 1.344rem; } }
  @media only screen and (min-width: -78.6) {
    .flow-text {
      line-height: 1.424rem; } }
  @media only screen and (min-width: 268.3) {
    .flow-text {
      font-size: 1.368rem; } }
  @media only screen and (min-width: -91.7) {
    .flow-text {
      line-height: 1.528rem; } }
  @media only screen and (min-width: 255.2) {
    .flow-text {
      font-size: 1.392rem; } }
  @media only screen and (min-width: -104.8) {
    .flow-text {
      line-height: 1.632rem; } }
  @media only screen and (min-width: 242.1) {
    .flow-text {
      font-size: 1.416rem; } }
  @media only screen and (min-width: -117.9) {
    .flow-text {
      line-height: 1.736rem; } }
  @media only screen and (min-width: 229) {
    .flow-text {
      font-size: 1.44rem; } }
  @media only screen and (min-width: -131) {
    .flow-text {
      line-height: 1.84rem; } }
  @media only screen and (min-width: 215.9) {
    .flow-text {
      font-size: 1.464rem; } }
  @media only screen and (min-width: -144.1) {
    .flow-text {
      line-height: 1.944rem; } }
  @media only screen and (min-width: 202.8) {
    .flow-text {
      font-size: 1.488rem; } }
  @media only screen and (min-width: -157.2) {
    .flow-text {
      line-height: 2.048rem; } }
  @media only screen and (min-width: 189.7) {
    .flow-text {
      font-size: 1.512rem; } }
  @media only screen and (min-width: -170.3) {
    .flow-text {
      line-height: 2.152rem; } }
  @media only screen and (min-width: 176.6) {
    .flow-text {
      font-size: 1.536rem; } }
  @media only screen and (min-width: -183.4) {
    .flow-text {
      line-height: 2.256rem; } }
  @media only screen and (min-width: 163.5) {
    .flow-text {
      font-size: 1.56rem; } }
  @media only screen and (min-width: -196.5) {
    .flow-text {
      line-height: 2.36rem; } }
  @media only screen and (min-width: 150.4) {
    .flow-text {
      font-size: 1.584rem; } }
  @media only screen and (min-width: -209.6) {
    .flow-text {
      line-height: 2.464rem; } }
  @media only screen and (min-width: 137.3) {
    .flow-text {
      font-size: 1.608rem; } }
  @media only screen and (min-width: -222.7) {
    .flow-text {
      line-height: 2.568rem; } }
  @media only screen and (min-width: 124.2) {
    .flow-text {
      font-size: 1.632rem; } }
  @media only screen and (min-width: -235.8) {
    .flow-text {
      line-height: 2.672rem; } }
  @media only screen and (min-width: 111.1) {
    .flow-text {
      font-size: 1.656rem; } }
  @media only screen and (min-width: -248.9) {
    .flow-text {
      line-height: 2.776rem; } }
  @media only screen and (min-width: 98) {
    .flow-text {
      font-size: 1.68rem; } }
  @media only screen and (min-width: -262) {
    .flow-text {
      line-height: 2.88rem; } }

/******************************************************************
Site Name: Het Erfgoedkabinet
Author: Willem Prins | SOMTIJDS

Stylesheet: Mixins Stylesheet

Helpful:
http://sachagreif.com/useful-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/*********************
HIDING TEXT
*********************/
/*********************
HORIZONTAL LIST NAVIGATION
*********************/
/*********************
BORDER RADIUS
*********************/
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name: Het Erfgoedkabinet
Author: Willem Prins | SOMTIJDS

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
.menu {
  /* end .menu ul */ }
  .menu ul {
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */ }
    .menu ul li {
      /*
				plan your menus and drop-downs wisely.
				*/ }
      .menu ul li a {
        /*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/ }

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content {
  /* at this larger size, we can start to align images */ }
  .entry-content .alignleft, .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left; }
  .entry-content .alignright, .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right; }
  .entry-content .aligncenter, .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both; }

/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/******************************************************************
HOMEPAGE STYLES
******************************************************************/
.hek-home-block-wrapper {
  width: 80%;
  padding: 2em 0; }

/******************************************************************
MORPHING CARD STYLES
******************************************************************/
.morph-button-modal.open .morph-content {
  top: 0% !important;
  left: 0% !important;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
  transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s; }

/******************************************************************
Site Name: Het Erfgoedkabinet
Author: Willem Prins | SOMTIJDS

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
.container {
  width: 70%; }

#content {
  margin: 0;
  padding-top: 7.5em; }

/*********************
HEADER STYLES
*********************/
/*********************
NAVIGATION STYLES
*********************/
.nav {
  border: 0;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */ }
  .nav ul {
    background: #231f20;
    margin-top: 0; }
  .nav li {
    float: left;
    position: relative;
    /*
		plan your menus and drop-downs wisely.
		*/
    /* showing sub-menus */ }
    .nav li a {
      border-bottom: 0;
      /*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/ }
      .nav li a:hover, .nav li a:focus {
        color: #fff;
        text-decoration: underline; }
    .nav li ul.sub-menu,
    .nav li ul.children {
      margin-top: 0;
      border: 1px solid #ccc;
      border-top: 0;
      position: absolute;
      visibility: hidden;
      z-index: 5;
      /* highlight sub-menu current page */ }
      .nav li ul.sub-menu li,
      .nav li ul.children li {
        /*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/ }
        .nav li ul.sub-menu li a,
        .nav li ul.children li a {
          padding-left: 10px;
          border-right: 0;
          display: block;
          width: 180px;
          border-bottom: 1px solid #ccc; }
        .nav li ul.sub-menu li:last-child a,
        .nav li ul.children li:last-child a {
          border-bottom: 0; }
        .nav li ul.sub-menu li ul,
        .nav li ul.children li ul {
          top: 0;
          left: 100%; }
    .nav li:hover > ul {
      top: auto;
      visibility: visible; }

/* end .nav */
/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
  margin-top: 1em; }

.widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em; }

.widget {
  padding: 0; }
  .widget ul li {
    margin-bottom: 0.75em;
    /* deep nesting */ }
    .widget ul li ul {
      margin-top: 0.75em;
      padding-left: 1em; }

/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/*********************
FOOTER STYLES
*********************/
.footer-links ul li {
  /*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/ }

/* end .footer-links */
body.page-id-2 .contact-wrapper {
  position: fixed;
  width: auto;
  top: 0;
  right: 0;
  padding: 0 1em;
  margin: 1em;
  border: 1px dashed #231f20; }

body.page-id-2 .filler {
  display: block; }

/******************************************************************
HOMEPAGE STYLES
******************************************************************/
.hek-home-block-outer-wrapper {
  position: relative;
  overflow: auto;
  padding: 0; }

.hek-home-block-wrapper {
  position: absolute;
  width: 70%;
  height: 80%;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 0; }
  .hek-home-block-wrapper .hek-home-block {
    height: 47%;
    margin: 1.5%; }
  .hek-home-block-wrapper .contact-home {
    color: #231f20;
    position: relative;
    top: 1em;
    margin: 0.25em auto;
    text-align: center; }
    .hek-home-block-wrapper .contact-home li {
      display: inline; }
      .hek-home-block-wrapper .contact-home li:before {
        content: "  \2022  ";
        color: #440f1d; }
      .hek-home-block-wrapper .contact-home li:first-of-type:before {
        content: ""; }

/******************************************************************
PORTFOLIO STYLES
******************************************************************/
.portfolio-container article.portfolio-card {
  font-size: 100%; }
  .portfolio-container article.portfolio-card .card-image {
    height: 60%; }
  .portfolio-container article.portfolio-card .card-front .card-content {
    height: 25%; }
  .portfolio-container article.portfolio-card .card-content-desktop {
    display: block; }
  .portfolio-container article.portfolio-card .card-content-mobile {
    display: none; }

.portfolio-container .card-action {
  height: 15%;
  padding: 1.667em 1em; }

.portfolio-container #portfolio-intro {
  width: 80%;
  max-width: 22em;
  margin-left: 2em; }
  .portfolio-container #portfolio-intro .no_hyphens p {
    -webkit-hyphens: none;
    -epub-hyphens: none;
    -ms-hyphens: none;
    hyphens: none; }

/******************************************************************
NAV STYLES
******************************************************************/
a.button-collapse {
  display: none; }

nav {
  width: 100%;
  height: 7.5em;
  line-height: 7.5em; }
  nav .nav-wrapper {
    background: white(0.2); }
    nav .nav-wrapper .brand-logo {
      width: 12em;
      background-size: 80% auto;
      background-color: transparent; }
    nav .nav-wrapper ul#menu-the-main-menu {
      position: relative;
      float: left;
      left: 0;
      top: 0;
      width: auto;
      height: auto;
      z-index: inherit;
      background: transparent; }
      nav .nav-wrapper ul#menu-the-main-menu li {
        float: left;
        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s; }
        nav .nav-wrapper ul#menu-the-main-menu li:hover, nav .nav-wrapper ul#menu-the-main-menu li.active {
          background-color: #ddd; }
        nav .nav-wrapper ul#menu-the-main-menu li a {
          color: white;
          text-transform: uppercase; }
        nav .nav-wrapper ul#menu-the-main-menu li ul {
          display: none; }
    nav .nav-wrapper div.cats-nav {
      display: block;
      float: right;
      font-size: 1em; }
    nav .nav-wrapper a {
      color: #fff; }
    nav .nav-wrapper a.button-collapse {
      z-index: 1; }
      nav .nav-wrapper a.button-collapse i {
        font-size: 2em;
        margin: 0.5em; }

/******************************************************************
ABOUT STYLES
******************************************************************/
body.page-template-page-about-php {
  color: #412f22; }
  body.page-template-page-about-php .nav-wrapper {
    background-color: #2d414e; }
  body.page-template-page-about-php .brand-logo {
    background-color: #a4bccc; }
  body.page-template-page-about-php h2 span.goto {
    display: block;
    pointer-events: none;
    height: 0; }
  body.page-template-page-about-php .about-title h1 {
    font-size: 3.25em; }

/******************************************************************
Site Name: Het Erfgoed Kabinet
Author: Willem Prins

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
.container {
  width: 60%; }

nav ul#menu-the-main-menu li {
  font-size: 1.25em; }

nav .nav-wrapper div.cats-nav {
  font-size: 1.25em; }

/******************************************************************
HOMEPAGE STYLES
******************************************************************/
.hek-home-block-wrapper {
  width: 60%; }

.morph-button-fixed .morph-content {
  width: 24%; }

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
