/******************************************************************
Site Name: Het Erfgoed Kabinet
Author: Willem Prins

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.container {
    width: 60%;
}

nav {
    ul#menu-the-main-menu li {
        font-size: 1.25em;
    }
    .nav-wrapper {
        div.cats-nav {
            font-size: 1.25em;
        }
    }
}

/******************************************************************
HOMEPAGE STYLES
******************************************************************/

.hek-home-block-wrapper {
    width: 60%;
}

.morph-button-fixed .morph-content {
        width: $hek-3of7-d;
}