/******************************************************************
Site Name: Het Erfgoed Kabinet
Author: Willem Prins

Stylesheet: Super Large Monitor Stylesheet
******************************************************************/

/******************************************************************
HOMEPAGE STYLES
******************************************************************/

.container {
    width: 50%;
}

.hek-home-block-wrapper {
    width: 50%;
}

.morph-button-fixed .morph-content {
        width: $hek-3of7-l;
}