/******************************************************************
Site Name: Het Erfgoedkabinet
Author: Willem Prins | SOMTIJDS

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/


/*********************
GENERAL STYLES
*********************/

/*********************
LAYOUT & GRID STYLES
*********************/

.container {
    width: 70%;
}

#content {
    margin: 0;
    padding-top: 7.5em;
}

/*********************
HEADER STYLES
*********************/

/*********************
NAVIGATION STYLES
*********************/

.nav {
	border: 0;
	ul {
		background:$black;
		margin-top:0;
	}
	li {
		float: left;
		position: relative;

		a {
			border-bottom: 0;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				color: $white;
				text-decoration: underline;
			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			visibility: hidden;
			z-index: $z-mobmenu;

			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {
					top:0;
					left:100%;
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			visibility:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 1em;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0;
		//margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}


/*********************
FOOTER STYLES
*********************/

.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */

body.page-id-2 {
    .contact-wrapper {
        position: fixed;
        width: auto;
        top: 0;
        right: 0;
        padding: 0 1em;
        margin: 1em;
        border: 1px dashed $black;
    }
    .filler {
        display: block;
    }
}

/******************************************************************
HOMEPAGE STYLES
******************************************************************/

.hek-home-block-outer-wrapper {
    position: relative;
    overflow: auto;
    padding: 0;
}

.hek-home-block-wrapper {
    // centered absolutely
    position: absolute;
    width: 70%;
    height: 80%;
    margin: auto;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 0;
    .hek-home-block {
        height: 47%;
        margin: 1.5%;
    }
    .contact-home {
        color: $hek-zwart;
        position: relative;
        top: 1em;
        margin: 0.25em auto;
        text-align: center;
        li {
            display: inline;
            &:before {
                content: "  \2022  ";
                color: $hek-aubergine;
            }
            &:first-of-type {
                &:before {
                    content: "";
                }
            }
        }
    } 
}

/******************************************************************
PORTFOLIO STYLES
******************************************************************/

.portfolio-container {
    article.portfolio-card {  
            font-size: 100%;
        .card-image {
            height: 60%;
        }
        .card-front .card-content {
            height: 25%;
        }
        
        .card-content-desktop {
            display: block;
        }
        .card-content-mobile {
            display: none;
        }
    }
    .card-action {
        height: 15%;
        padding: 1.667em 1em;
    }
    #portfolio-intro {
        width: 80%;
        max-width: 22em;
        margin-left: 2em;
        .no_hyphens p {
            -webkit-hyphens: none;
            -epub-hyphens: none;
            -moz-hyphens: none;
            hyphens: none;
        }
    }
}

/******************************************************************
NAV STYLES
******************************************************************/

a.button-collapse {
    display: none;
}

nav {
    width: 100%;
    height: 7.5em;
    line-height: 7.5em;

    .nav-wrapper {
        background: white(0.2);
        .brand-logo {
            width: 12em;
            background-size: 80% auto;
            background-color: transparent;
        }
        ul#menu-the-main-menu {
            position: relative;
            float: left;
            left: 0;
            top: 0;
            width: auto;
            height: auto;
            z-index: inherit;
            background: transparent;
            li {
                float: left;
                @include transition(background-color .3s);
                &:hover, &.active {
                    background-color: #ddd;
                }
                a {
                    color: white;
                    text-transform: uppercase;
                }
                ul {
                    display: none;
                }
            }
        }
        div.cats-nav {
            display: block;
            float: right;
            font-size: 1em;
        }

        a { color: #fff; }

        a.button-collapse {
            z-index: 1;
            i {
              font-size: 2em;
              margin: 0.5em;
            }
        }
    }
}

/******************************************************************
ABOUT STYLES
******************************************************************/

body.page-template-page-about-php {
    color: $hek-donkerbruin;
    .nav-wrapper {
        background-color: $hek-donkerblauw;
    }
    .brand-logo {
        background-color: $hek-lichtblauw;
    }
    h2 span.goto {
        display: block;
        pointer-events: none;
        height: 0;
    }
    .about-title h1 {
        font-size: 3.25em;
    }
}
    