/******************************************************************
Site Name: Het Erfgoedkabinet
Author: Willem Prins | SOMTIJDS

Stylesheet: Base Mobile Stylesheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html, body {
	height: 100%;
}

body {
	top: 0;
	font-family: $sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $hek-background-color;
	-webkit-font-smoothing: antialiased;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}						   /* for sites that are read right to left (i.e. hebrew) */
.home {}						  /* home page */
.blog {}						  /* blog template page */
.archive {}					   /* archive page */
.date {}						  /* date archive page */
	.date-paged-1 {}				/* replace the number to the corresponding page number */
.search {}						/* search page */
	.search-results {}			  /* search result page */
	.search-no-results {}		   /* no results search page */
	.search-paged-1 {}			  /* individual paged search (i.e. body.search-paged-3) */
.error404 {}					  /* 404 page */
.single {}						/* single post page */
	.postid-1 {}					/* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}			  /* individual paged single (i.e. body.single-paged-3) */
.attachment {}					/* attatchment page */
	.attachmentid-1 {}			  /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}		/* style mime type pages */
.author {}						/* author page */
	.author-nicename {}			 /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}			  /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}					  /* category page */
	.category-1 {}				  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}			/* replace the number to the corresponding page number */
.tag {}						   /* tag page */
	.tag-slug {}					/* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}				 /* replace the number to the corresponding page number */
.page-template {}				 /* custom page template page */
	.page-template-page-php {}	  /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}				/* replace the number to the corresponding page number */
	.page-parent {}				 /* parent page template */
	.page-child {}				  /* child page template */
	.parent-pageid-1 {}			 /* replace the number to the corresponding page number */
.logged-in {}					 /* if user is logged in */
.paged {}						 /* paged items like search results or archives */
	.paged-1 {}					 /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

#container {
	height: 100%;
	width: 100%;
}

#content {
	width: 100%;
	height: 100%;
	padding-top: 5em;
}

body.page-id-69,
body.page-template-archive-portfolio_item-php,
body.tax-portfolio_cat,
body.post-type-archive {
	#content {
		overflow-x: auto;
		overflow-y: hidden;
		position: relative;
	}
}

body.page-template-page-home-php {
	margin: 0;
	#content {
		min-height: 100%;
		margin: 0;
		padding-top: 0;
	}
}

body.page-template-page-splash-php,
body.page-template-default {
	background-color: $hek-lichtblauw;
		header.overlay-header {
		padding-top: 5em;
	}
}

body.page .entry-content {
	padding-left: 0;
	padding-right: 0;
}

.wrap {
	width: 96%;
	margin: 0 auto;
}

.container {
  padding: 0;
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}


/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
		font-family: $futura-header;
	text-rendering: optimizelegibility;
	font-weight: normal;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.67em;
}

h4, .h4 {
	font-size: 1.5em;
}

h5, .h5 {
	font-size: 1.25em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: transparent;
	left: 0;
	width: 100%;
	height: auto;
	position: fixed;
	z-index: $z-mobmenu;
}

#logo {
	margin: 0.75em 0;
	a {
		color: $white;
	}
}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	border-bottom: 0;
	margin: 0;
	li {
		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0.75em;
			&:hover, &:focus {
			}
		}
			&:first-child {}
			&:last-child {}
			ul.sub-menu,
			ul.children {
				li {
					a {
					padding-left: 30px;
					&:hover,
					&:focus {}
					&:link {}
					}
					&:first-child {}
					&:last-child {}
				}
			}
	} /* end .menu li */
	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
			a {}
	}  /* end current highlighters */
} /* end .nav */


/******************************************************************
NAV STYLES
*******************************************************************/

nav {
	color: #fff;
	width: 100%;
	height: 5em;
	line-height: 5em;
	z-index: $z-mobmenu;
	.nav-wrapper {
		position: relative;
		height: 100%;
		background-color: $hek-donkerblauw;
		.brand-logo {
			float: left;
			white-space: no-wrap;
			position: inherit;
			text-indent: -999px;
			height: 100%;
			width: 82%;
			background: $hek-lichtblauw url('../images/het-erfgoedkabinet-logo.png') center center no-repeat;
			background-size: auto 60%;
		}
		div.cats-nav {
			display: none;
		}

			a.button-collapse {
				width: 100%;
				i {
					color: white;
					font-size: 2em;
					margin: 0.5em;
				}
			}
		ul {
			margin: 0;

			li {
				float: left;
				padding: 0px;
			}
			a {
				font-size: 0.8em;
				color: #fff;
				display: block;
				padding: 0px 0.5em;
			}

			&.left {
				float: left;
			}
		}
		ul.side-nav {
			position: absolute;
			width: 100%;
			left: -100%;
			top: 5em;
			height: 100%;
			will-change: left;

			li {
				float: none;
				padding: 0 0.5em;
				a {
					color: $white;
					i {
						margin: 0.5em;
					}
				}
				&:hover, &.active {
					a {

					}
				}

				ul.sub-menu {
					width: 100%;
					padding: 0;
					margin: 0;
					li {
						width: 100%;
					}

				}
			}
		}
	}
}

#sidenav-overlay {
	position: fixed;
	background: $hek-donkerblauw;
	top: 5em;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: $z-overlay;
	will-change: opacity;
	opacity: 1;
}


/*********************
POSTS & CONTENT STYLES
*********************/

	.hentry {

			//background-color: $white;
			//border-radius: 3px;
			margin-bottom: 1.5em;
			//removing borders
			//border: 1px solid $border-color;

			header {
					//border-bottom: 1px solid $light-gray;
					padding: 1.5em 0;
			}

			footer {
					padding: 1.5em;
					//border-top: 1px solid $light-gray;

					p {
							margin: 0;
					}
			}

	} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		.single-title {}

		.page-title {}

		.entry-title {}

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}		 /* post by id (i.e. post-3) */
		.post {}			/* general post style */
		.page {}			/* general article on a page style */
		.attachment {}	  /* general style on an attatchment */
		.sticky {}		  /* sticky post style */
		.hentry {}		  /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}		/* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;

			time {}
		}

		/* entry content */
		.entry-content {
			padding: 1.5em 1.5em 0;

			p {
							margin: 0 0 1.5em;
							-webkit-hyphens: none;
							-epub-hyphens: none;
							-moz-hyphens: none;
							hyphens: none;
			}

			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0.75em 1.5em 0.75em;
				padding: 0 1.25em;
				//border-left: 3px solid $hek-aubergine;
								font-weight: bold;
								font-style: italic;
								-webkit-hyphens: none;
								-epub-hyphens: none;
								-moz-hyphens: none;
								hyphens: none;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
	text-align: center;

	ul {
	  display: inline-block;
	  background-color: $white;
	  white-space: nowrap;
	  padding: 0;
	  clear: both;
	  border-radius: 3px;
	}

	li {
	  padding: 0;
	  margin: 0;
	  float: left;
	  display: inline;
	  overflow: hidden;
	  border-right: 1px solid $gray;
	}

	a, span {
	  margin: 0;
	  text-decoration: none;
	  padding: 0;
	  line-height: 1em;
	  font-size: 1em;
	  font-weight: normal;
	  padding: 0.75em;
	  min-width: 1em;
	  display: block;
	  color: $blue;

	  &:hover, &:focus {
	  	background-color: $blue;
	  	color: $white;
	  }
	}

	.current{
		cursor: default;
		color: $text-color;

		&:hover, &:focus {
			background-color: $white;
			color: $text-color;
		}
	}

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $black;
	color: $light-gray;
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}

/*********************
UNDER CONSTRUCTION STYLES
*********************/

body.page-id-2 {
	background-color: white !important;
	header.header {
		display: none;
	}
	#content {
		margin-top: 0;
	}
	header.under-construction-header {
		margin: 0;
		padding: 0;
		border-bottom: 1px solid $white;
		text-align: center;
	}
	.rope {
		width: 100%;
		background: url('../images/rope_bg.png') repeat-y;
		background-size: 100% auto;
		min-height: 10em;
	}
	.image-row img {
		width: 100%;
		height: auto;
	}
	.filler {
	  display: none;
	}
	.contact-wrapper {
		width: 100%;
		text-align: center;
		border-top: 1px dashed $black;
		li:first-of-type {
			margin-bottom: 0.5em;
		}
	}
	.notification {
		position: fixed;
		top: 50%;
		left: 0;
		width: 100%;
		height: 1em;
		padding-bottom: 1.5em;
		text-indent: 1em;
		border-bottom: 1px dashed $black;
		font-family: $serif;
		font-style: italic;
		z-index: -1;
	}

	footer.footer {
		display: none;
	}
	article.hentry {
		border: 0;
		font-size: 20px;
		background-color: transparent;
		/*text-align: justify;
		text-justify: kashida;*/
	}
}

/******************************************************************
HOMEPAGE STYLES
******************************************************************/

@-webkit-keyframes fade-in {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@keyframes fade-in {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

.hek-home-block-wrapper {
	margin: auto;
	.contact-home {
		text-align: center;
		color: $hek-zwart;
		position: relative;
		top: 1em;
		margin: 0.25em auto;
		text-align: center;
		li {
			list-style: none;
		}
	}
}

.hek-home-block {
	@include border-radius(2em);
	margin: 1.5% 0;
	height: 20em;
	position: relative;
	&.hhbc1 {
		background-color: $hek-lichtblauw;
	}
	&.morph-button {
		padding: 0;
	}
	.hek-home-block-header {
		font-size: 1.5em;
		color: $white;
		text-align: center;
		text-transform: uppercase;
		height: 2em;
		position: absolute;
		margin: auto;
		left:0;
		right: 0;
		top: 0;
		bottom: 0;

	}
	  .hek-home-block-hint {
		opacity: 0;
		-moz-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
		bottom: 1em; left: 2em;
		text-transform: capitalize;
		position: absolute;
		color: $white;
	};
	&:hover {
		.hek-home-block-hint {
		opacity: 1;
		-moz-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
		}
		&:first-of-type .hek-home-block-hint {
		color: $black;
		}
	}
}

#hek-home-block1 {
	-webkit-animation: fade-in .01s .5s linear backwards;
	animation: fade-in .01s .5s linear backwards;
	outline: none;
	.hek-home-block-header {
		@include hide-text;
		text-align: center;
		width: 80%;
		height: 40%;
		position: absolute;
		margin: auto;
		left:0;
		right: 0;
		top: 0;
		bottom: 0;
	}
}

#hek-home-block2 {
	-webkit-animation: fade-in .01s 1s linear backwards;
	animation: fade-in .01s 1s linear backwards;
}

#hek-home-block3 {
	-webkit-animation: fade-in .01s 1.5s linear backwards;
	animation: fade-in .01s 1.5s linear backwards;

}

#hek-home-block4 {
	-webkit-animation: fade-in .01s 2s linear backwards;
	animation: fade-in .01s 2s linear backwards;
}

.overlay-header {
	-webkit-hyphens: none;
	-epub-hyphens: none;
	-moz-hyphens: none;
	hyphens: none;
	text-align: left;
	.icon-close {
		font-size: 5em;
		cursor: pointer;
		margin: 0.333em;
		color: $hek-olijfgroen;
	}

}
.overlay-content {
	background-color: $hek-lichtblauw;
	section.leader {
		margin: 4em 0;
		font-size: 1.25em;
		color: $hek-donkerblauw;
		p {
		-webkit-hyphens: none;
		-epub-hyphens: none;
		-moz-hyphens: none;
		hyphens: none;
		}
	}
}

.overlay-logo {
	text-align: center;
	img {
		width: 50%;
		margin-top: 2em;
		margin-left: -2.5%;
	}
}

.page-template-page-home-php .section-overview, .page-template-page-splash-php .section-overview {
	div.card {
		@include border-radius(2em);
		font-size: 1.125em;
		color: $white;
		background: $hek-donkerblauw;
		margin-bottom: 2em;
		h2 {
			margin-top: 0;
			text-transform: uppercase;
		}
		.card-content, .card-action {
			padding: 1.5em;
		}
	}
	.card-content i {
		height: 100%;
		vertical-align: middle;
		font-size: 8em;
		line-height: 1em;
		display: block;
		&.left {
			float: left;
			margin-right: 0.125em;
		}
	}

	.card-content i.icomoon-bio:before {
		font-family: 'icomoon';
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		-moz-osx-font-smoothing: grayscale;
		content: "\E600"
	}

}

/******************************************************************
PORTFOLIO STYLES
******************************************************************/

.page-template-archive-portfolio_item-php,
.tax-portfolio_cat,
.post-type-archive-portfolio_item {
	background-attachment: fixed;
	height: 100%;
}

body.term-all, body.term-vertellen, .hek-home-block.morph-button-overlay.open .morph-content.vertellen, #hek-home-block2 {
	@include horizontal-split-colors($hek-lichtblauw,$hek-donkerblauw);
}
body.term-bezoeken, .hek-home-block.morph-button-overlay.open .morph-content.bezoeken, #hek-home-block3 {
	@include horizontal-split-colors($hek-olijfgroen,$hek-donkergroen);
}
body.term-beleven, .hek-home-block.morph-button-overlay.open .morph-content.beleven, #hek-home-block4 {
	@include horizontal-split-colors($hek-oudroze, $hek-aubergine);
}

.cat-link a {
	color: $white;
	font-size: 0.8em;
	text-transform: uppercase;
	&.current {
		color: $white;
		text-decoration: underline;
	}
}

a.cat-vertellen {
	color: $hek-lichtblauw;
}
a.cat-beleven {
	color: $hek-oudroze;
}
a.cat-bezoeken {
	color: $hek-olijfgroen;
}
.cats-nav {
	a.cat-vertellen {
		background: $hek-lichtblauw;
		&.current {
			background: $hek-lichtblauw;
		}
	}
	a.cat-beleven {
		background: $hek-oudroze;
		&.current {
			background: $hek-oudroze;
		}
	}
	a.cat-bezoeken {
		background: $hek-olijfgroen;
		&.current {
			background: $hek-olijfgroen;
		}
	}
}
button.panner {
	display: none;
	position: fixed;
	top: 50%;
	z-index: $z-menu;
	height: 4em;
	width: 4em;
	background-color: black(0.4);
	color: white(0.6);
	cursor: pointer;
	border: 0;
	margin-top: -2em;
	text-align: center;
	-webkit-touch-callout: none;				/* prevent callout to copy image, etc when tap to hold */
	-webkit-user-select: none;				  /* prevent copy paste, to allow, change 'none' to 'text' */
	&:hover {
		background-color: $hek-donkerblauw;
		color: $hek-lichtblauw;
		.cleft:before {
		  border-right: 12px solid white;
		}
		.cright:before {
		  border-left: 12px solid white;
		}
	}
	.caret {
	  width: 1em;
	  position: relative;
	  }
	.caret:before {
	  content: '';
	  position: absolute;
	}
	.caret:after {
	  content: '';
	  position: absolute;
	}
	.cleft {
	  left: 1.125em;
	  top: -0.75em;
	}
	.cleft:before {
	  left: 4px;
	  top: 0px;
	  border-right: 12px solid white(0.6);
	  border-top: 12px solid transparent;
	  border-bottom: 12px solid transparent;
	}
	.cleft:after {
	  border-right: 8px solid transparent;
	  border-top: 8px solid transparent;
	  border-bottom: 8px solid transparent;
	  left: 8px;
	  top: 0px;
	}
	.cright {
	  left: 1.75em;
	  top: -0.75em;
	}
	.cright:before {
	  left: 0px;
	  top: 0px;
	  border-left: 12px solid white(0.6);
	  border-top: 12px solid transparent;
	  border-bottom: 12px solid transparent;
	}
	.cright:after {
	  left: 0px;
	  top: 4px;
	  border-left: 7px solid transparent;
	  border-top: 7px solid transparent;
	  border-bottom: 7px solid transparent;
	}
}

.left-the-outer-left  #panLeft {
	left: 1em;
	display: block;
}

#panRight {
	display: block;
	right: 1em;
}

.hit-the-outer-right #panRight {
	display: none;
}


.portfolio-container {
	width: auto;
	margin: auto 0;
	height: 90%;
	min-height: 27em;
	max-height: 33em;
	white-space: nowrap;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: $z-base;

	#loading-animation {
		display: none;
		position: absolute;
		height: 100%;
		width: 100%;
		.loader{
	position: relative;
	width: 12px;
	height: 12px;
	top: 46%;
	top: -webkit-calc(40% - 6px);
	top: calc(40% - 6px);
	left: 46%;
	left: -webkit-calc(50% - 6px);
	left: calc(50% - 6px);
	border-radius: 12px;
	background-color: #fff;
	-webkit-transform-origin:  50% 50%;
		transform-origin:  50% 50% ;
	-webkit-animation: loader 1s ease-in-out infinite;
		animation: loader 1s ease-in-out infinite;
		}
		.loader:before{
				content: "";
				position: absolute;
				background-color: rgba(255, 255, 255, .5);
				top: 0px;
				left: -25px;
				height: 12px;
				width: 12px;
				border-radius: 12px;
		}
		.loader:after{
				content: "";
				position: absolute;
				background-color: rgba(255, 255 ,255 ,.5);
				top: 0px;
				left: 25px;
				height: 12px;
				width: 12px;
				border-radius: 12px;
		}
		@-webkit-keyframes loader{
			0%{-webkit-transform:rotate(0deg);}
			50%{-webkit-transform:rotate(180deg);}
			100%{-webkit-transform:rotate(180deg);}
		}
		@keyframes loader{
			0%{transform:rotate(0deg);}
			50%{transform:rotate(180deg);}
			100%{transform:rotate(180deg);}
		}

	}

	article.portfolio-card {
		margin: 0 2em;
		height: 100%;
		width: 80%;
		max-width: 22em;
		font-size: 90%;

		@include border-radius(2em);
		position: relative;
		display: inline-block;
		vertical-align: top;
		.card-content-desktop {
			display: none;
		}
		.card-content-mobile {
			display: block;
		}
	}

	#portfolio-intro {
		width: 90%;
		max-width: 24em;
		margin-left: 1em;
		@include border-radius(0);
		padding: 0;
		color: $white;
		.card-content {
			white-space: normal;
			h1 {
				margin-top: 0;
			}
			p {
				font-size: 1.125em;
			}
			.toelichting {
				display: none;
			}
		}
		.no_hyphens {
			hyphens: auto;
		}
	}

	.flip-container {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		min-height: 100%;
		height: 100%;
		-webkit-transform-style: preserve-3d;
		   -moz-transform-style: preserve-3d;
			 -o-transform-style: preserve-3d;
				transform-style: preserve-3d;
	}

	.card-face {
		@include border-radius(2em);
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
			 -o-box-sizing: border-box;
				box-sizing: border-box;
		position: absolute;
		margin: 0;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		min-height: 100%;
		height: 100%;
		color: $hek-zwart;
		line-height: 1.4em;
		-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
		   -moz-backface-visibility: hidden;
			 -o-backface-visibility: hidden;
				backface-visibility: hidden;
		-webkit-transition: -webkit-transform 1s;
		   -moz-transition: -moz-transform 1s;
			 -o-transition: -o-transform 1s;
				transition: transform 1s;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		p, h2 { -webkit-hyphens: none;
			-epub-hyphens: none;
			-moz-hyphens: none;
			hyphens: none;
		}
	}

	.portfolio-card.flip .flip-container {
		.card-face {
 			  -moz-transform:perspective(1000px);
		        -o-transform:perspective(1000px);
		   -webkit-transform:perspective(1000px);
			       transform:perspective(1000px);			
		}
		.card-back {
			z-index: 100;
		      -moz-transform:rotateY(0deg);
		        -o-transform:rotateY(0deg);
		   -webkit-transform:rotateY(0deg);
			       transform:rotateY(0deg);
		}
		.card-front {
			z-index: 99;
		      -moz-transform:rotateY(-179.99deg);
		         o-transform:rotateY(-179.99deg);
		   -webkit-transform:rotateY(-179.99deg);
			       transform:rotateY(-179.99deg);
		}
	}

	.card-front {
		z-index: 100;
		white-space: normal;
		-webkit-transform: rotateY(0deg);
		   -moz-transform: rotateY(0deg);
			 -o-transform: rotateY(0deg);
				transform: rotateY(0deg);
		.card-content {
			font-family: $sans-serif;
			text-transform: none;
			text-align: left;
			height: 35%;
		}
		.card-title {
			padding: 0;
			h2.h2 {
				line-height: 1.2em;
				margin-top: 0;
				font-family: $futura-header;
			}
		}
		.card-image {
			text-align: center;
			overflow: hidden;
			height: 50%;
			img {
				height: 40%;
				width: auto;
				margin: 30% auto;
			}
		}
	}

	.card-back {
		background: $white;
		white-space: normal;
		z-index: 99;
		-webkit-transform: rotateY(180deg);
		   -moz-transform: rotateY(180deg);
			 -o-transform: rotateY(180deg);
				transform: rotateY(180deg);

		.card-title {
			padding: 1em 0em;
			font-family: $futura-header;
		}
		.card-content {
			padding: 1em 2em;
			height: 85%;
		}
	}

	.card-action {
		height: 10%;
		text-align: center;
		bottom: 0;
		padding: 0.5em 1em;
		cursor: default;
		a {
		   cursor: pointer;
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

.term-beleven .portfolio-container #portfolio-intro .toelichting.toelichting_beleven {
	display: block;
}
.term-bezoeken .portfolio-container #portfolio-intro .toelichting.toelichting_bezoeken {
	display: block;
}
.term-vertellen .portfolio-container #portfolio-intro .toelichting.toelichting_vertellen {
	display: block;
}

/******************************************************************
MORPHING CARD STYLES
******************************************************************/

.hek-home-block {
	padding: 0;
	font-size: 0.8em;
}

.hek-home-block.morph-button-overlay.open .morph-content, .hek-home-block.morph-button-overlay .morph-content{
	background: $hek-lichtblauw;
}

.hek-home-block.morph-button-overlay.open .morph-content {
	height: 100%;
	overflow: auto;
}

/******************************************************************
PORTFOLIO ITEM STYLES
******************************************************************/

.single-portfolio_item {
	#main {
		color: $hek-zwart;
		font-size: 1.125em;
		float: none;
		margin: auto;
	}
	.card {
		background: white;
		a {margin-right: 0; text-transform: none;}
		a.badge{margin-right: 1em;}
		&.bottom-part {
			@include border-bottom-radius(2em);
			top: -1em;
		}
	}
	.materialboxed {
		width: 100%;
		margin: 0em;
	}
	header.article-header {
		@include border-top-radius(2em);
		padding: 1.5em;
		a {
		   text-transform: uppercase;
		}
	}
	.entry-content {
		margin-top: 0;
		position: relative;
		top: -6px;
		padding-bottom: 1em;
	}
	.card-action {
		@include border-bottom-radius(2em);
		text-align: center;
		a {
			text-transform: uppercase;
		}
	}
}

/******************************************************************
ABOUT STYLES
******************************************************************/

body.page-template-page-about-php {
	background-color: $hek-lichtblauw;

	h2 span.goto {
		display: block;
		pointer-events: none;
	}

	section.subpage {
		color: $hek-donkerblauw;
		blockquote {
			color: white;
		}

	}
	.hentry {
		margin-bottom: 0;
	}
	.about-title h1 {
	font-size: 2.75em;
	}
}

/******************************************************************
FOOTER STYLES
*******************************************************************/

.footer {
	width: 100%;
	background: $hek-donkerblauw;
	color: $white;
	.footer-content {
		font-size: 1rem;
		padding-top: 0.8rem;
		padding-bottom: 2em;
		.contact-home a {
			text-transform: lowercase;
		}
	}
	.widget ul {
		margin-bottom: 1em;
		li {
			margin: 0.25em 0;
		}
	}
	.social-icon {
		margin-top: 2em;
		a {
			color: white;
		}
		span:before {
			font-family: 'icomoon';
		}
		span.icon-linkedin:before {
			content: "\eac8";
		}
		span.icon-twitter:before {
			content: "\ea91";
		}
	}
}
