/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 17, 2015, 12:25:17 PM
    Author     : Willem Prins | SOMTIJDS
    Credits:   : http://tympanus.net/codrops/2014/05/22/inspiration-for-article-intro-effects/
*/


body.page-template-page-about-php,
body.page-template-page-about-php #content, 
body.page-template-page-about-php .about-container,
body.page-template-page-about-php .about-header {
	height: 100%;
}

/* Header */
.about-header {
    position: relative;
    margin: 0 auto;
    min-height: 260px;
    width: 100%;
}

.about-bg-img {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.about-bg-img img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	min-width: 100%;
	min-height: 100%;
}

.about-title {
    z-index: $z-base;
    margin: 0 auto;
    padding: 0 1.25em;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.about-title h1 {
	padding: 0 0 0.2em;
	color: #fff;
	font-weight: 800;
	margin: 0 auto;
        font-size: 4em;
        text-shadow: 2px 2px #000;
        text-shadow: 2px 2px rgba(0,0,0,0.5);
}

.about-title p a {
	padding: 0 0 0.6em;
	font-weight: 300;
	font-size: 0.85em;
	margin: 0 auto;
         color: $hek-donkerblauw;
        &:before {
            content: "  \2022  ";
            color: white;
        }
        &:first-of-type {
            &:before {
                content: "";
                
            }
        }
}

.about-title h1,
.about-title p.subline {
	line-height: 1;
}

.about-title p.subline {
	font-size: 1.75em;
}

/* Trigger Button */
button.about-trigger {
	position: fixed;
	height: 2em;
        width: 2em;
        bottom: 0.5em;
	left: 50%;
        margin-left: -1em;
	z-index: $z-menu;
        font-size: 3em;
        line-height: 3em;
        background-color: black(0.6);
        color: white(0.4);
	cursor: pointer;
        &:hover {
            background-color: $hek-donkerblauw;
            color: $hek-lichtblauw;
        }

}

.about-content section {
        font-size: 1.125em;
        padding: 1.5em 0;
}

.about-content section:last-of-type {
    padding-bottom: 0;
}

.about-container:not(.notrans) button.about-trigger {
	-webkit-transition: opacity 0.3s 0.5s;
        -moz-transition: opacity 0.3s 0.5s;
        -ms-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

.about-container.modify:not(.notrans) button.about-trigger {
	opacity: 0;
	pointer-events: none;
	-webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -ms-transition-delay: 0s;
	transition-delay: 0s;
}

button.about-trigger::before {
	position: absolute;
	bottom: 100%;
	left: -100%;
	padding: 0.8em;
	width: 300%;
	color: #fff;
	content: attr(data-info);
	font-size: 0.35em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

button.about-trigger:focus {
	outline: none;
}

button.about-trigger span {
	position: relative;
        font-size: 0.4em;
        padding-top: 1.25em;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
        line-height: 1.25em;
}



/* -------------------------- */
/* Faded gradient */
/* -------------------------- */

.intro-effect-fadeout:not(.notrans) .about-bg-img {
	-webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        -ms-transition-property: -ms-transform;       
	transition-property: transform;
}

.intro-effect-fadeout:not(.notrans) .about-bg-img::after {
	-webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        -ms-transition-property: opacity;
	transition-property: opacity;
}

.intro-effect-fadeout:not(.notrans) .about-header h1 {
	-webkit-transition-property: color;
        -moz-transition-property: color;
        -ms-transition-property: color;
	transition-property: color;
}

.intro-effect-fadeout:not(.notrans) .about-header p,
.intro-effect-fadeout:not(.notrans) .about-content > div {
	-webkit-transition-property: -webkit-transform, opacity;
        -moz-transition-property: -moz-transform, opacity;
        -ms-transition-property: -ms-transform, opacity;
	transition-property: transform, opacity;
}

.intro-effect-fadeout:not(.notrans) .about-bg-img,
.intro-effect-fadeout:not(.notrans) .about-bg-img::after,
.intro-effect-fadeout:not(.notrans) .about-header h1,
.intro-effect-fadeout:not(.notrans) .about-header p,
.intro-effect-fadeout:not(.notrans) .about-content > div {
	-webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -ms-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.intro-effect-fadeout .about-header {
	overflow: hidden;
}

.intro-effect-fadeout.modify .about-bg-img {
	-webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.intro-effect-fadeout .about-bg-img::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 101%;
	top: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.intro-effect-fadeout.modify .about-bg-img::after {
	opacity: 1;
}

.intro-effect-fadeout .about-title {
	text-align: left;
	max-width: 900px;
}

.intro-effect-fadeout.modify .about-header .about-title h1,
.intro-effect-fadeout .about-header p {
	color: $hek-donkerblauw;
        text-shadow: none;
}

.intro-effect-fadeout .about-header p {
	opacity: 0;
}

.intro-effect-fadeout.modify .about-header p:nth-child(2),
.intro-effect-fadeout.modify .about-header p:nth-child(3) {
	opacity: 1;
	-webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
	transform: translateX(0);
}

.intro-effect-fadeout .about-content {
	z-index: $z-base;
	position: relative;
}

.intro-effect-fadeout .about-content > div.container {
	opacity: 0;
        -webkit-transform: translateY(12.5em);
        -moz-transform: translateY(12.5em);
	-ms-transform: translateY(12.5em);
	transform: translateY(12.5em);
}

.intro-effect-fadeout.modify > .about-content > div.container {
        opacity: 1;
        -webkit-transform: translateY(-12.5em);
        -moz-transform: translateY(-12.5em);
	-ms-transform: translateY(-12.5em);
	transform: translateY(-12.5em);
    }