$button-height: 36px !default;
$button-color: $white;

// shared styles
.btn, .btn-flat {
  display: inline-block;
  height: $button-height;
  margin-bottom: 15px;
  padding: 0 2rem; 
  @include border-radius(2px);
  line-height: 36px;
  text-transform: uppercase;
  border:none;
}
// Disabled shared style
.btn.disabled, .btn-floating.disabled, .btn-large.disabled, .btn:disabled, .btn-large:disabled, .btn-floating:disabled {
  background-color: #DFDFDF;
  box-shadow: none;
  color: #9F9F9F;

  &:hover {
    background-color: #DFDFDF;
    color: #9F9F9F;
  }
}
// Shared icon styles
.btn, .btn-floating, .btn-large, .btn-flat {
  i {
    font-size: 1.3rem;
    line-height: inherit;
  }
}



// Raised Button
.btn {
  text-decoration:none;
  color: #FFFFFF;
  background-color: $button-color;
  text-align: center;
  letter-spacing: .8px;
  @extend .z-depth-1; 
  @include transition(.2s ease-out);
  cursor: pointer;

  &:hover {
    background-color: lighten($button-color, 5%);
    @extend .z-depth-1-half;
  }
}


// Floating button 
.btn-floating {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  background-color: $button-color;
  @include border-radius(50%);
  @extend .z-depth-1;  
  @include transition(.3s);
  cursor: pointer;

  i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    line-height: 40px;
  }
  
  &:hover {
    @extend .z-depth-1-half;
  }
}

// Flat button
.btn-flat {
  box-shadow: none;
  background-color: transparent;
  color: #343434;
  cursor: pointer;

  &.disabled {
    color: lighten(#999, 10%);
  }
}


// Large button
.btn-large {
  @extend .btn;
  height: $button-height * 1.5;
  line-height: 56px;

  i {
    font-size: 1.6rem;
  }
}


