li.divider {
  height: 1px;
  overflow: hidden;
  //background-color: color("grey", "lighten-3");
}
.dropdown-content {
  display:none;
  @extend .z-depth-1;
  position: absolute;
  background-color: #FFFFFF;
  margin: 0px;
  min-width: 100px;
  z-index: 1000;
  
  li {
    cursor: pointer;
    font-size: 1.2rem;
    color: $off-black;
    line-height: 1.5rem;

    & > a,& > span {
      display: block;
      padding: 1rem 1rem;
    }
  }
    
  @media only screen and (min-width: $large-screen) {
    li:hover {
      background-color: rgba(0,0,0, .07)
    }
  }

}