nav {
  color: #fff;
  @extend .z-depth-1;
  width: 100%;
  height: 80px;
  line-height: 80px;

  .nav-wrapper {
    position: relative;
    height: 100%;
  }

  a { color: #fff; }

  a.button-collapse {
    float: left;
    @extend .hide-on-large-only;
    position: relative;
    z-index: 1;

    i {
      font-size: 2.7em;
      height: 80px;
      line-height: 80px;
    }
  }

  .brand-logo {
    position: absolute;
    display: inline-block;
    font-size: 2em;
    padding: 0;
    
    &.right {
      right: 0.5em;
      padding: 0;
    }
  }

  ul {
    margin: 0;
    float: right;

    li { 
      float: left;
      padding: 0px;
      @include transition(background-color .3s);

      &:hover, &.active {
        background-color: rgba(0,0,0,.1);
      }
    }
    a { 
      font-size: 1em;
      color: #fff; 
      display: block;
      padding: 0px 15px;
    }

    &.left {
      float: left;
    }
  }
}
