ul.tabs {
  position: relative;
  height: 48px;
  background-color: #FFF;
  margin: 0 auto;
  width: 100%;
  white-space: nowrap;

  li.tab {
    @media #{$large-and-up} {
      max-width: 25%; 
    }
    
    display: block;
    float: left;
    text-align: center;
    background-color: #fff;
    line-height: 48px;
    height: 48px;
    padding: 0 20px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .8px;
    width: 15%;

    a {
      //color: lighten(color("materialize-red", "base"), 18%);
      display: block;
      width: 100%;
      height: 100%;
      @include transition( color .28s ease);
      &:hover {
        //color: color("materialize-red", "lighten-4");
      }
    }
  }
  .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    //background-color: color("materialize-red", "lighten-2");
  }
}

ul.tabs li.tab { padding: 0; }

